---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Analista Desarrollador Middle",
    company: "Business Development Group, S.A",
    tools:
      "TypeScript, JavaScript, Node.js, Express, NestJS, ReactJS, React Native, Flutter, Ionic, Angular, MySQL, PostgreSQL, Oracle DB, MongoDB, AWS, Digital Ocean, Git, GitLab, Google Workspace, Slack, Jira, Scrum, Azure, OneSignal, FacePhi, SmartID, WebSocket, GraphQL, Docker, JWT, cifrado AES con IV, Python, Kotlin",
    description:
      "Responsable del desarrollo de plataformas móviles, APIs REST, CRM y ERP para clientes del sector bancario y logístico, impactando a más de 4 millones de usuarios. Implementé soluciones escalables y seguras usando tecnologías modernas como NestJS, Flutter, FacePhi (biometría), cifrado con IV, WebSockets y GraphQL. Logré mejorar en un 50% los tiempos de entrega de software, priorizando la calidad, rendimiento y escalabilidad.",
    link: "https://www.bdgsa.net",
  },
  {
    date: "Septiembre 2022",
    title: "Desarrollador JR",
    company: "Informática Guatemala",
    tools:
      "PHP, JavaScript, CodeIgniter, MySQL, VPS, Git, GitLab, Google Workspace",
    description:
      "Encargado del desarrollo y mantenimiento de plataformas CRM y ERP basadas en PHP y CodeIgniter. Optimicé procesos internos mediante la creación de nuevos componentes reutilizables, logrando una mejora del 30% en la entrega de funcionalidades. Trabajé en entornos colaborativos utilizando control de versiones y herramientas de gestión de proyectos.",
    link: "https://www.informatica.com.gt",
  },
  {
    date: "Marzo 2021",
    title: "Desarrollador de App Móvil (Android & iOS)",
    company: "Somos Progreso",
    tools: "Flutter, Dart, API REST, SQLite, Notificaciones push, QR Scanner",
    description:
      "Desarrollé desde cero una aplicación móvil multiplataforma en Flutter para el registro de marcaciones GPS, escaneo de códigos QR y recepción de notificaciones. Se integró con una API REST para la persistencia de datos y un sistema local con SQLite. La app fue publicada en Play Store y facilitó el control de asistencia y ubicación de colaboradores en campo.",
    link: "https://play.google.com/store/apps/details?id=com.mc.cemprog&hl=es_BO&pli=1",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
