---
const personalImageAlt = "Willian Alonzo";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHub from "./icons/GitHub.astro";
---

<div class="">
  <div class="flex gap-12 mb-12">
    <img
      class="rounded-full shadow-lg size-16"
      src="https://media.licdn.com/dms/image/v2/D5603AQF8l37lD4Xtvg/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1702144295717?e=1756339200&v=beta&t=xXVytT266PZPsMj1525cR3tKCNLUCm2r8iZCX0rEjTI"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/willian-alonzo-952288173/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hola! Soy Willian Alonzo
  </h1>
  <p
    class="text-justify mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Con m谩s de 3 a帽os de experiencia como
    <strong>Analista Desarrollador</strong> en Guatemala , me especializo en la creaci贸n tanto del backend como del frontend con pasi贸n y precisi贸n. Mi objetivo
    es transformar ideas en soluciones tecnol贸gicas innovadoras y eficientes que
    impulsen el 茅xito de los proyectos. Estoy comprometido con la excelencia t茅cnica
    y el dise帽o de experiencias de usuario excepcionales. 隆Trabajemos juntos para
    hacer realidad tus visiones tecnol贸gicas! +3 a帽os de experiencia.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:williamalonzo4519@gmail.com">
      <MailIcon class="size-4" />
      Cont谩ctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/willian-alonzo-952288173/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/wralonzo">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
